html,
body {
  height: 100%;
  background: #eeeeee;
}
body {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
}
.login {
  -webkit-flex-shrink: 0;
  flex-shrink: 0;
  margin: auto;
}
.toolbar {
  -webkit-flex-basis: 2em;
  flex-basis: 2em;
  -webkit-flex-shrink: 0;
  flex-shrink: 0;
  padding: 15px;
}
.sections {
  -webkit-flex-basis: 50px;
  flex-basis: 50px;
  -webkit-flex-shrink: 0;
  flex-shrink: 0;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: flex-end;
  align-items: flex-end;
}
.section-body {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-grow: 1;
  flex-grow: 1;
  -webkit-flex-shrink: 10;
  flex-shrink: 10;
}
.section-body .pages {
  overflow-y: auto;
  -webkit-order: 2;
  order: 2;
  -webkit-flex-basis: 15em;
  flex-basis: 15em;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
}
.section-body .pages .nav {
  -webkit-flex-grow: 1;
  flex-grow: 1;
}
.section-body .pagearea {
  overflow-y: auto;
  background: #fff;
  -webkit-order: 1;
  order: 1;
  -webkit-flex-grow: 1;
  flex-grow: 1;
}
.u-block {
  display: block;
}
.u-link-dotted-inner .u-inner {
  border: 1px dotted transparent;
  padding: 1px 2px;
}
.u-link-dotted-inner:focus,
.u-link-dotted-inner:active {
  outline: none;
}
.u-link-dotted-inner:focus .u-inner,
.u-link-dotted-inner:active .u-inner {
  border-color: currentColor;
}
.u-empty-text:empty::after,
.is-empty .u-empty-text::after {
  content: attr(data-empty-text);
  font-style: italic;
  color: rgba(0, 0, 0, 0.7);
}
.noscript {
  margin: -1.5em -3em 0 -3em;
  padding: 1em;
  background: #cc0000;
  color: #eeeeee;
  text-align: center;
  box-shadow: 0 0 1em rgba(0, 0, 0, 0.5);
}
html.not-loaded .hidden-before-load {
  display: none;
}
.sections {
  border-bottom: 5px solid #000;
  padding: 0 15px;
  margin: 0;
  list-style: none;
}
.sections > li {
  margin: 0 2px;
}
.sections > li.notebook-name {
  margin: 0 15px 0 0;
}
.sections a,
.sections .link {
  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom-width: 0;
  border-radius: 3px 3px 0 0;
  display: inline-block;
  color: #333;
  line-height: 20px;
  padding: 5px 10px;
  text-decoration: none;
}
.sections a:hover,
.sections .link:hover,
.sections a:focus,
.sections .link:focus,
.sections a.focus,
.sections .link.focus {
  padding: 7px 10px 8px 10px;
}
.sections .delete {
  margin-left: -2px;
  margin-right: -8px;
}
.sections .active > a,
.sections .active > .link {
  color: #111;
  padding: 10px 10px;
}
.sections .add-section > a {
  border-color: #ccc;
  background: #f5f5f5;
}
.sections .renaming input {
  width: 8em;
  border: 1px dotted #223;
  outline: none;
  padding: 1px 2px;
  font: inherit;
  line-height: inherit;
}
.pages ul {
  height: 100%;
  border-left: 1px solid rgba(0, 0, 0, 0.1);
}
.pages a {
  color: #333;
  margin-right: 5px;
  border: 1px solid transparent;
  border-left-width: 0;
  padding: 5px !important;
}
.pages a:hover,
.pages a:focus,
.pages a.focus {
  background: rgba(255, 255, 255, 0.3) !important;
}
.pages a > .delete {
  float: right;
  margin-top: 4px;
  margin-right: 1px;
}
.pages .add-page {
  padding-bottom: 1em;
  margin-bottom: 1em;
}
.pages .add-page > a {
  margin-left: 5px;
}
.pages .active > a {
  position: relative;
  background: #ffffff !important;
  cursor: default;
}
.pages .active > a::before {
  position: absolute;
  left: -1px;
  top: 0;
  content: "";
  background: #ffffff;
  width: 1px;
  height: 100%;
}
.pagearea {
  padding: 15px 15px 50px 15px;
  position: relative;
  cursor: text;
}
html.dragging-item .pagearea {
  cursor: move;
}
body.selecting .pagearea {
  cursor: default;
}
.pagearea > .item {
  display: flex;
  position: absolute;
  float: left;
  margin-top: -17px;
  margin-left: -11px;
  min-width: 75px;
}
.pagearea > .item > .contenteditable {
  position: relative;
  min-width: 75px;
  border: 1px solid transparent;
  border-top-width: 0;
  padding: 17px 25px 10px 10px;
  outline: none;
}
.pagearea > .item.focus > .contenteditable,
.pagearea > .item.is-selected > .contenteditable,
.pagearea > .item:hover > .contenteditable,
.pagearea > .item.dragging > .contenteditable {
  border-color: #dddddd;
}
.pagearea > .item.focus > .dragbar,
.pagearea > .item.is-selected > .dragbar,
.pagearea > .item:hover > .dragbar,
.pagearea > .item.dragging > .dragbar {
  background: #dddddd;
}
.pagearea > .item.focus > .dragbar::before,
.pagearea > .item.is-selected > .dragbar::before,
.pagearea > .item:hover > .dragbar::before,
.pagearea > .item.dragging > .dragbar::before {
  content: "";
  display: block;
  position: relative;
  top: 3px;
  margin: 0 auto;
  width: 14px;
  height: 2px;
  background: url("data:image/gif;base64,R0lGODlhCAAEAIABAJmZmf///yH5BAEKAAEALAAAAAAIAAQAAAIIhBEZh8q6DiwAOw==");
  background-size: 4px, 2px;
}
html.no-multiple-selections .pagearea > .item.is-selected::before {
  content: "";
  position: absolute;
  left: 0;
  top: 7px;
  width: 100%;
  height: calc(100% - 7px);
  border: 7px solid #ddddff;
}
html.no-multiple-selections .pagearea > .item.is-selected > .contenteditable {
  border-color: #ccccff;
}
html.no-multiple-selections .pagearea > .item.is-selected > .dragbar {
  background: #ccccff;
}
.pagearea > .item.is-empty {
  min-width: 0;
}
.pagearea > .item.is-empty > .contenteditable {
  border-color: transparent;
}
.pagearea > .item.is-empty > .dragbar {
  visibility: hidden;
}
.pagearea > .item.title {
  font-size: 1.8em;
  padding: 10px;
  min-width: 100px;
}
.pagearea > .item.title > .contenteditable {
  border: 0;
  border-bottom: 1px solid #dddddd;
  padding: 0 30px 0 5px;
}
.pagearea > .item.title > .dragbar {
  display: none;
}
.pagearea > .item > .dragbar {
  cursor: move;
  position: absolute;
  z-index: 300;
  width: 100%;
  height: 7px;
}
.selection {
  position: absolute;
  border: 1px solid rgba(0, 0, 0, 0.3);
  background: rgba(0, 0, 0, 0.05);
  z-index: 500;
}
.farthest-position {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px 0 0 -1px;
  visibility: hidden;
}
.shortcuts {
  position: fixed;
  top: 5%;
  left: 10%;
  width: 80%;
  height: 90%;
  padding: 2em;
  border-radius: 1em;
  background: rgba(0, 0, 0, 0.8);
  color: #ffffff;
}
.shortcuts th {
  color: #ccff00;
  text-align: right;
  padding-right: 1em;
}
.delete {
  display: inline-block;
  vertical-align: baseline;
  width: 12px;
  height: 12px;
  position: relative;
  visibility: hidden;
  cursor: default;
  outline: none;
  background: rgba(255, 255, 255, 0.5);
}
.delete-container:hover .delete,
.delete-container:focus .delete,
.delete-container.focus .delete,
.delete:hover,
.delete:focus {
  visibility: visible;
}
.delete > img,
.delete:hover::after,
.delete:focus::after {
  position: absolute;
  top: 0;
  width: 12px;
  height: 12px;
}
.delete:hover::after,
.delete:focus::after {
  content: "";
  background: url("../images/delete-hover.png");
  background-size: 12px auto;
}
.login {
  position: relative;
  top: -1.5em;
  background: #ffffff;
  padding: 3em;
  box-shadow: 0 0 1em rgba(0, 0, 0, 0.3);
}
.login > h1:first-child {
  margin-top: 0;
}
.login .button-container {
  margin-top: 2em;
}
.login .status {
  font-size: 0.9em;
  margin-left: 1em;
  color: #333;
}
.login .persona-button {
  vertical-align: middle;
}
.persona-button:hover,
.persona-button:focus {
  color: #fff;
}
.persona-button.disabled {
  opacity: 0.5;
  cursor: default;
}
